* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --gold-color: #e67e22;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  display: flex;
  border-bottom: 1px solid var(--gold-color);
  background: white;
  z-index: 1000;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container > a{
  z-index: 1001;
}

.logo {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--gold-color);
  font-family: 'Style Script', cursive;
  z-index: 1001;
  cursor: pointer;
}

nav {
  padding: 0.5rem 2rem;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  color: var(--gold-color);
  font-weight: 500;
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav ul li a:hover {
  background-color: var(--gold-color);
  color: white;
}

.navbtn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: var(--gold-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.navbtn:hover {
  opacity: 0.9;
}

.menu-toggle,
.close-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--gold-color);
  cursor: pointer;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
    height: 40px;
  font-size: 24px;
  color: #e67e22;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none; 
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background-color 0.3s;
}
#scrollToTopBtn:hover {
  transform: rotate(360deg); 
}
#scrollToTopBtn.show {
  display: block;
  animation: fadeIn 0.5s;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.2rem 1rem;
  }

  .menu-toggle {
    display: block;
  }

  .navbtn {
    display: none;
  }

  nav {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    background: white;
    transition: 0.3s;
    padding: 2rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  nav.active {
    right: 0;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
  }

  nav ul li a {
    padding: 0.8rem 1rem;
    display: block;
  }
}
